.blacklist {
  display: contents;
}

.bl-insert {
  display: flex;
  padding-bottom: 40px;
}

.bl-label {
  display: block;
}

.bl-input {
  width: 100%;
  text-align: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.bl-add {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bl-error {
  display: block;
  min-height: 40px;
  color: #FF4500;
}

.bl-list {
  width: 100%;
  border-top: 1px solid #EAEAEA;
  padding-top: 10px;
}

.bl-entry {
  display: flex;
  background: #FFF;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  padding: 5px;
  animation-duration: .4s;
  animation-timing-function: ease-in;
}

@keyframes animateEntry {
  from {opacity: 0; transform: scale(0.5)}
  80% {transform: scale(1.1)}
  to {opacity: 1; transform: scale(1)}
}

.bl-entry:before {
  content: '';
  flex-grow: 1;
  order: 0;
}

.bl-pages {
  width: 75%;
  text-overflow: ellipsis;
  order: -1;
  text-align: left;
  border: 0;
  background: inherit;
  cursor: default;
}

.bl-entry-button {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: inherit;
}

.bl-entry-symbol {
  height: 20px;
  width: 20px;
  fill: #555;
}
