html, body {
  height: 100%;
}

main {
  width: 560px;
  padding: 30px 0 30px 30px;
}

/**
 * Option head layout properties
 **/

h1 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--sectionLine-color);
  font-size: 22px;
  font-weight: normal;
}
