html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  background: var(--baseSecond-color);
}

/**
 * Sidebar layout properties
 **/

#Sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 30px 0 30px;
  background: var(--sidebar-color);
}

#Sidebar > h1 {
  padding: 30px 10px 10px 10px;
  color: var(--base-color);
  text-align: center;
}

#Sidebar > h1 > img {
  height: 70px;
  margin-bottom: 10px;
}

.navigation {
  list-style: none;
}

.nav-item {
  position: relative;
  margin: 30px 0;
  text-align: center;
}

.nav-item > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--textThird-color);
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-item-symbol {
  color: inherit;
  padding-right: 15px;
  font-size: 30px;
  font-family: Icons;
}

.nav-item-label {
  color: inherit;
}

.nav-item > a:hover, .nav-item > a.active {
  color: var(--highlighted-color);
}

/**
 * Content layout properties
 **/

#Content {
  flex: 1;
}

/**
 * Theme button properties
 **/

.themes {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 40px 0;
}

.themes input[type="radio"] {
  display: none;
}

.theme-button {
  height: 15px;
  width: 15px;
  margin: 0 7px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 3px 0 rgba(0,0,0,1);
}

.theme-button.theme-default {
  background-color: #E5E5E5;
}

.theme-button.theme-white {
  background-color: #FFFFFF;
}

.theme-button.theme-darker {
  background: linear-gradient(-45deg, #FBFBFB 0%, #FBFBFB 50%, #252A32 50%, #252A32 100%)
}

.theme-button.theme-dark {
  background-color: #252A32;
}

.theme-button:hover {
  box-shadow: 0 0 6px 0 rgba(0,0,0,1);
}

.themes input[type="radio"]:checked + .theme-button::after {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: var(--border-color);
  transform: translateY(20px);
}
