@font-face {
  font-family: "firefox-gesture-arrows";
  src: url("../../res/fonts/arrows.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Icons";
  src: url("../../res/fonts/icons.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orkney Regular";
  src: url("../../res/fonts/Orkney_Regular.woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Orkney Regular", "Arial", sans-serif;
  font-size: 16px;
  color: #555555;
}

a {
  cursor: pointer;
  color: #00AAA0;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}



/* fix icon thickness......*/

.icon-gear:after {
  content: "g";
  font-family: Icons;
}

.icon-arrows:after {
  content: "a";
  font-family: Icons;
}

.icon-star:after {
  content: "s";
  font-family: Icons;
}

.icon-list:after {
  content: "l";
  font-family: Icons;
}

.icon-info:after {
  content: "i";
  font-family: Icons;
}








/**
 * Option explanation layout properties
 **/

.explanation {
  padding: 5px 0 20px 0;
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: 20px;
  text-align: justify;
}

.explanation > span {
  font-size: 14px;
}

/**
 * Option list layout properties
 **/

.option-list {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 30px;
  align-items: center;
}

.ol-section {
  display: contents;
}

.ol-item {
  display: contents;
}

.ol-span {
  grid-column-start: 1;
  grid-column-end: -1;
}


.ol-section:not(:last-child):after {
  content: "";
  display: block;
  border-bottom: 1px solid #EAEAEA;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 10px 0;
}

.ol-label {
  cursor: default;
}
.ol-input {
  display: flex;
  justify-content: right;
}

.ol-description {
  transition: color 0.3s;
  font-size: 14px;
  color: #BBBBBB;
}

.ol-item:hover .ol-description {
  transition: color 0.3s;
  color: #555555;
}

/**
 * Toggle button layout properties
 **/

.toggle-button {
  display: none;
}

.toggle-button + label {
  padding: 8px 0 6px 0;
  text-align: center;
  width: 45px;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  transition: background 0.5s;
  cursor: pointer;
}

.toggle-button + label:after {
  content: "__MSG_toggleButtonOff__";
}

.toggle-button:checked + label:after {
  content: "__MSG_toggleButtonOn__";
}

.toggle-button:checked + label {
  transition: background 0.5s;
  background:#00AAA0;
  border-color: #00AAA0;
  color: #FFFFFF;
  font-weight: bold;
}

.toggle-button[disabled] + label {
  color: #EAEAEA;
  border-color: #EAEAEA;
  transition: color 0.3s;
  background: #FFF;
  cursor: not-allowed;
}

/**
 * Value field layout properties
 **/

.input-field {
  border-radius: 2px;
  padding: 5px;
  width: 140px;
  background: #FFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  text-align: center;
  transition: color 0.3s;
  -moz-appearance: textfield;
  text-overflow: ellipsis ellipsis;
}

.input-field[disabled] {
  color: #EAEAEA;
  border-color: #EAEAEA;
  transition: color 0.3s;
  cursor: not-allowed;
}

.input-field:invalid {
  transition: color 0.3s;
  box-shadow: none;
  color: #FF6347;
}

/**
 * Color field layout properties
 **/

.color-select-field {
  height: 36px;
  width: 47px;
  padding: 5px;
  text-align: center;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  transition: background 0.5s;
  cursor: pointer;
}

/**
 * Select field layout properties
 **/

.select-field {
  width: 140px;
  padding: 4px 25px 4px 5px;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  border-radius: 2px;
  background-color: #FFF;
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" viewBox="0 0 345 210" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" stroke="%23666666" stroke-width="75" stroke-linecap="round" stroke-linejoin="round" points="38,38 172,172 307,38 "/></svg>');
  background-position: right 7px center;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
}

/**
 * Regular button
 **/

.button {
  padding: 8px 6px 6px 6px;
  text-align: center;
  min-width: 142px;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button + .button {
  margin-left: 15px;
}

.button:hover, .button:hover * {
  color:#00AAA0;
  border-color: #00AAA0;
}

.button.danger:hover *, .button.danger:hover{
  color:#FF6347;
  border-color: #FF6347;
}

::-moz-focus-inner {
  border: 0;
}

/**
 * Collapse button layout properties
 **/

.collapseButton {
  display: none;
}

.collapseButton + label {
  cursor: pointer;
  color: #00AAA0;
}

.collapseButton + label:after {
  content: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" viewBox="0 0 345 210" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" stroke="%2300AAA0" stroke-width="75" stroke-linecap="round" stroke-linejoin="round" points="38,38 172,172 307,38 "/></svg>');;
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s;
}

.collapseButton:checked + label:after {
  transform:rotate(-180deg);
  transition: 0.3s;
}

.collapsable {
  overflow: hidden;
  transition: height 0.5s;
}

/**
 * Text layout properties
 **/

.text {
  padding: 5px 0;
  text-align: justify;
}

u {
  color: #00AAA0;
}

hr {
  border-bottom: 1px solid #EAEAEA;
  margin: 20px 0;
}

.sequence {
  padding: 5px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sequence > li:not(:last-child):after {
  content: "\25CF";
  color: #DDDDDD;
  padding: 0 10px;
}

/**
 * Regular container
 **/

.container {
  padding: 5px 0;
}

.contentAlignRight {
  display: flex;
  justify-content: flex-end;
}

/**
 * Gesture input field layout properties
 **/

.gestureInput {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 2px;
  transition: color 0.3s;
}

.gestureInput > input {
  font-family: "firefox-gesture-arrows";
  letter-spacing: 5px;
  width: 130px;
  padding: 6px 5px;
  text-align: left;
  background: none;
  text-transform: uppercase;
  color: #666;
  font-size: 14px;
}

.gestureInput > input:invalid {
  background: #FF6347;
  box-shadow: none;
}

/**
 * Gesture input button layout properties
 **/

.gesture-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  box-sizing: border-box;
}

.gl-item {
  position: relative;
  display: flex;
  border-radius: 2px;
  list-style: none;
  flex-direction: column;
  border: solid 1px #DDD;
  background-color: #FFF;
  box-shadow: none;
  transition: box-shadow 0.3s;
  min-width: 0;
  cursor: pointer;
}

.gl-item:hover {
  box-shadow: 0 1px 2px #DDD;
}

.gl-action {
  padding: 15px 20px 7px 20px;
  border-bottom: solid 1px #DDD;
}

.gl-gesture {
  font-family: "firefox-gesture-arrows";
  letter-spacing: 5px;
  padding: 15px 20px 15px 20px;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}

.gl-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  margin: 5px 5px;
  transition: opacity 0.3s;
  background-color: #FFF;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  line-height: 100%;
}

.gl-remove-button:hover {
  color: red;
}

.gl-item:hover > .gl-remove-button {
  visibility: visible;
  opacity: 1;
}

/**
 * Blacklist layout
 **/

.bl-explanation {
  border-bottom: 0;
  margin-bottom: 0;
}

.bl-insert {
  display: flex;
  padding-bottom: 20px;
}

.bl-label {
  display: block;
}

.bl-addAddress {
  flex: 1;
  text-align: left;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 9px;
}

.bl-add-button {
  background: #FFF;
  text-align: center;
  padding: 8px 25px 6px;
  min-width: 0;
  border: 1px solid #DDD;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.bl-add-button:hover {
  background: #00AAA0;
  color: #FFF;
  border-color: #00AAA0;
}

.bl-error {
  display: block;
  min-height: 40px;
  color: #FF4500;
}

.blacklist {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #EAEAEA;
}

.bl-entry {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: #FFF;
  border: 1px solid #dddddd;
  border-radius: 2px;
  animation-duration: .3s;
  animation-timing-function: ease-in;
}

.bl-entry:hover {
  box-shadow: 0 1px 2px #DDD;
}

.bl-entry-animate {
  animation-name: animateAddEntry;
}

.bl-entry-animate--reverse {
  animation-name: animateDeleteEntry;
}

@keyframes animateDeleteEntry {
  from {opacity: 1; transform: scale(1)}
  20% {transform: scale(1.05)}
  to {opacity: 0; transform: scale(0.9)}
}

@keyframes animateAddEntry {
  from {opacity: 0; transform: scale(0.9)}
  50% {transform: scale(1.05)}
  to {opacity: 1; transform: scale(1)}
}

.bl-URLs {
  flex: 1;
  text-overflow: ellipsis;
  text-align: left;
  border: 0;
  background: inherit;
  cursor: text;
  padding: 9px;
}

.bl-URLs[readOnly] {
  cursor: default;
}

.bl-entry-button {
  padding: 5px;
  cursor: pointer;
  background: inherit;
}
