@font-face {
  font-family: "firefox-gesture-arrows";
  src: url("../../res/fonts/arrows.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Icons";
  src: url("../../res/fonts/icons.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orkney Regular";
  src: url("../../res/fonts/Orkney_Regular.woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Orkney Regular", "Arial", sans-serif;
  font-size: 16px;
  color: var(--base-invert-bright-color);
}

a {
  cursor: pointer;
  color: var(--highlighted-color);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}



/* fix icon thickness......*/

.icon-gear:after {
  content: "g";
  font-family: Icons;
}

.icon-arrows:after {
  content: "a";
  font-family: Icons;
}

.icon-star:after {
  content: "s";
  font-family: Icons;
}

.icon-list:after {
  content: "l";
  font-family: Icons;
}

.icon-info:after {
  content: "i";
  font-family: Icons;
}

.icon-arrow-up:after {
  content: "U";
  font-family: Icons;
}

.icon-arrow-right:after {
  content: "R";
  font-family: Icons;
}

.icon-arrow-down:after {
  content: "D";
  font-family: Icons;
}

.icon-arrow-left:after {
  content: "L";
  font-family: Icons;
}







/**
 * Option explanation layout properties
 **/

.explanation {
  padding: 5px 0 20px 0;
  border-bottom: 1px solid var(--sectionLine-color);
  margin-bottom: 20px;
  text-align: justify;
}

.explanation > span {
  font-size: 14px;
}

/**
 * Option list layout properties
 **/

.option-list {}

.ol-section:not(:last-child):after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--sectionLine-color);
  margin: 20px 0;
}

.ol-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ol-item:not(:first-child) {
  margin-top: 10px;
}

.ol-collapsible .ol-item {
  margin-top: 10px;
}

.ol-collapsible {
  position: relative;
  overflow: hidden;
}

.ol-collapsible:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, transparent 0%, var(--base-bright-color) 100%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.ol-collapsible.animate {
  transition: height 0.5s;
}

/* gradient fade in/out */
.ol-collapsible.animate:after {
  visibility: visible;
  opacity: 1;
}

.ol-label {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  cursor: default;
}

.ol-input {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.ol-description {
  transition: opacity 0.3s;
  font-size: 14px;
  opacity: 0.5;
}

.ol-item:hover .ol-description {
  opacity: 1;
}

/**
 * Toggle button layout properties
 **/

.toggle-button {
  display: none;
}

.toggle-button + label {
  padding: 8px 0 6px 0;
  text-align: center;
  width: 45px;
  background: var(--base-color);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.toggle-button + label:after {
  content: "__MSG_toggleButtonOff__";
}

.toggle-button:checked + label:after {
  content: "__MSG_toggleButtonOn__";
}

.toggle-button:checked + label {
  background: var(--highlighted-color);
  border-color: var(--highlighted-color);
  color: var(--base-color);
  font-weight: bold;
}

.toggle-button[disabled] + label {
  color: var(--sectionLine-color);
  border-color: var(--sectionLine-color);
  transition: color 0.3s;
  background: var(--base-color);
  cursor: not-allowed;
}

/**
 * Value field layout properties
 **/

.input-field {
  border-radius: 2px;
  padding: 5px;
  width: 140px;
  background: var(--base-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  text-align: center;
  transition: color 0.3s;
  -moz-appearance: textfield;
  text-overflow: ellipsis ellipsis;
}

.input-field[disabled] {
  color: var(--sectionLine-color);
  border-color: var(--sectionLine-color);
  transition: color 0.3s;
  cursor: not-allowed;
}

.input-field:invalid {
  box-shadow: none;
  color: var(--warning-color);
  border-color: var(--warning-color);
}

/**
 * Color field layout properties
 **/

.color-select-field {
  height: 36px;
  width: 47px;
  padding: 5px;
  text-align: center;
  background: var(--base-color);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

/**
 * Select field layout properties
 **/

.select-field {
  width: 140px;
  padding: 4px 25px 4px 5px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  border-radius: 2px;
  background-color: var(--base-color);
  background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" viewBox="0 0 345 210" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" stroke="%23555555" stroke-width="75" stroke-linecap="round" stroke-linejoin="round" points="38,38 172,172 307,38 "/></svg>');
  background-position: right 7px center;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
}

/**
 * Regular button
 **/

.button {
  padding: 8px 6px 6px 6px;
  text-align: center;
  min-width: 142px;
  background: var(--base-color);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.button + .button {
  margin-left: 15px;
}

.button:hover, .button:hover * {
  color: var(--highlighted-color);
  border-color: var(--highlighted-color);
}

.button.danger:hover *, .button.danger:hover{
  color: var(--warning-color);
  border-color: var(--warning-color);
}

::-moz-focus-inner {
  border: 0;
}

/**
 * Collapse button layout properties
 **/

.collapseButton {
  display: none;
}

.collapseButton + label {
  cursor: pointer;
  color: var(--highlighted-color);
}

.collapseButton + label:after {
  content: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" viewBox="0 0 345 210" xmlns:xlink="http://www.w3.org/1999/xlink"><polyline fill="none" stroke="%2300AAA0" stroke-width="75" stroke-linecap="round" stroke-linejoin="round" points="38,38 172,172 307,38 "/></svg>');;
  display: inline-block;
  margin-left: 5px;
  transition: 0.3s;
}

.collapseButton:checked + label:after {
  transform:rotate(-180deg);
  transition: 0.3s;
}

.collapsable {
  overflow: hidden;
  transition: height 0.5s;
}

/**
 * Command select field
 **/

.command-select-field {
  position: relative;
  width: 140px;
  padding: 5px 28px 5px 10px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  text-align: center;
  border-radius: 2px;
  background-color: var(--base-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.command-select-field:before {
  content: attr(title);
}

.command-select-field:after {
  content: "c";
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 14px;
  font-family: Icons;
}

.command-select-field:hover:after {
  color: var(--highlighted-color);
}

.pop-out-animation {
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-name: PopOut;
}

@keyframes PopOut {
  from {transform: scale(1)}
  50% {transform: scale(1.1)}
  to {transform: scale(1)}
}

/**
 * Text layout properties
 **/

.text {
  padding: 5px 0;
  text-align: justify;
}

u {
  color: var(--highlighted-color);
}

hr {
  border-bottom: 1px solid var(--sectionLine-color);
  margin: 20px 0;
}

.sequence {
  padding: 5px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sequence > li:not(:last-child):after {
  content: "\25CF";
  color: var(--border-color);
  padding: 0 10px;
}

/**
 * Regular container
 **/

.container {
  padding: 5px 0;
}

.contentAlignRight {
  display: flex;
  justify-content: flex-end;
}

/**
 * Gesture input button layout properties
 **/

.gesture-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  box-sizing: border-box;
}

.gl-item {
  position: relative;
  display: flex;
  border-radius: 2px;
  list-style: none;
  flex-direction: column;
  border: solid 1px var(--border-color);
  background-color: var(--base-color);
  box-shadow: none;
  transition: box-shadow 0.3s;
  min-width: 0;
  cursor: pointer;
}

.gl-item:hover {
  box-shadow: 0 1px 2px var(--shadow-color);
}

.gl-action {
  padding: 15px 20px 7px 20px;
  border-bottom: solid 1px var(--border-color);
}

.gl-gesture {
  font-family: "firefox-gesture-arrows";
  letter-spacing: 5px;
  padding: 15px 20px 15px 20px;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
}

.gl-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px;
  margin: 5px 5px;
  transition: opacity 0.3s;
  background-color: var(--base-color);
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  line-height: 100%;
}

.gl-remove-button:hover {
  color: var(--warning-color);
}

.gl-item:hover > .gl-remove-button {
  visibility: visible;
  opacity: 1;
}

/**
 * Blacklist layout
 **/

.bl-explanation {
  border-bottom: 0;
  margin-bottom: 0;
}

.bl-insert {
  display: flex;
  padding-bottom: 20px;
}

.bl-label {
  display: block;
}

.bl-addAddress {
  flex: 1;
  text-align: left;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 9px;
}

.bl-add-button {
  background: var(--base-color);
  text-align: center;
  padding: 8px 25px 6px;
  min-width: 0;
  border: 1px solid var(--border-color);
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.bl-add-button:hover {
  background: var(--highlighted-color);
  color: var(--base-color);
  border-color: var(--highlighted-color);
}

.bl-error {
  display: block;
  min-height: 40px;
  color: var(--warning-color);
}

.blacklist {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid var(--sectionLine-color);
}

.bl-entry {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: var(--base-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  animation-duration: .3s;
  animation-timing-function: ease;
  transition: box-shadow 0.3s;
}

.bl-entry:hover {
  box-shadow: 0 1px 2px var(--shadow-color);
}

.bl-entry-animate {
  animation-name: animateAddEntry;
}

.bl-entry-animate--reverse {
  animation-name: animateDeleteEntry;
}


@keyframes animateDeleteEntry {
  from {opacity: 1; transform: scale(1); height: 38px;}
  20% {visibility: hidden; opacity: 0; transform: scale(0.9); height: 38px;}
  to {visibility: hidden;  height: 0;}
}

@keyframes animateAddEntry {
  from {opacity: 0; transform: scale(0.9)}
  50% {transform: scale(1.05)}
  to {opacity: 1; transform: scale(1)}
}

.bl-URLs {
  flex: 1;
  text-overflow: ellipsis;
  text-align: left;
  border: 0;
  background: inherit;
  cursor: text;
  padding: 9px;
}

.bl-URLs[readOnly] {
  cursor: default;
}

.bl-entry-button {
  padding: 5px;
  cursor: pointer;
  background: inherit;
}

.themes {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  flex-direction: column;
}

.theme-checkbox {
  display: none;
}

.theme-checkbox:checked ~ .theme-values{
  display: flex;
}

.theme-value {
  flex: 1;
  order: 2;
  -moz-appearance: none;
  -moz-user-select: none;
  cursor: default;
}

.theme-checkbox:checked + .theme-value{
  color: var(--highlighted-color);
  border-color: var(--highlighted-color);
}

.theme-values {
  display: none;
  flex-direction: column;
  order: 1;
  flex: 1;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

.theme-values > span {
  padding: 8px 6px 6px 6px;
  cursor: default;
}

.theme-values > span:hover {
  background: #00AAA0;
}
