<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Gesturefy</title>
  <link rel="icon" type="image/png" href="/resources/img/icon.svg" sizes="16x16">
  <link rel="stylesheet" href="/views/shared/theme.css">
  <link rel="stylesheet" href="/views/options/layout.css">

  <script src="/views/shared/components/locale-text.mjs" type="module"></script>
  <script src="/views/shared/components/locale-option.mjs" type="module"></script>
  <script src="/views/options/components/collapsible-item/collapsible-item.mjs" type="module"></script>
  <script src="/views/options/components/command-picker/command-picker.mjs" type="module"></script>
  <script src="/views/options/components/popup-box/main.mjs" type="module"></script>
  <script src="/views/options/components/color-picker/main.mjs" type="module"></script>

  <script src="/views/options/main.mjs" type="module"></script>
  <script src="/views/options/gestures.mjs" type="module"></script>
  <script src="/views/options/data.mjs" type="module"></script>
</head>

<body>
  <div id ="Sidebar">
    <img class="logo" src="/resources/img/icon.svg">
    <ul class="navigation">
      <li class="nav-item">
        <a href="#Gestures">
          <span class="nav-item-symbol icon-arrows"></span>
          <locale-text class="nav-item-label" key="navigationGestures"></locale-text>
        </a>
      </li>
      <li class="nav-item">
        <a href="#Settings">
          <span class="nav-item-symbol icon-gear"></span>
          <locale-text class="nav-item-label" key="navigationSettings"></locale-text>
        </a>
      </li>
      <li class="nav-item">
        <a href="#Extras">
          <span class="nav-item-symbol icon-star"></span>
          <locale-text class="nav-item-label" key="navigationExtras"></locale-text>
        </a>
      </li>
      <li class="nav-item">
        <a href="#Data">
          <span class="nav-item-symbol icon-data"></span>
          <locale-text class="nav-item-label" key="navigationData"></locale-text>
        </a>
      </li>
      <li class="nav-item">
        <a href="#About">
          <span class="nav-item-symbol icon-info"></span>
          <locale-text class="nav-item-label" key="navigationAbout"></locale-text>
        </a>
      </li>
    </ul>

    <form id="themeSwitch">
      <input type="radio" class="theme-button theme-light" name="theme" value="light" data-config="Settings.General.theme">
      <input type="radio" class="theme-button theme-dark" name="theme" value="dark" data-config="Settings.General.theme">
      <input type="radio" class="theme-button theme-high-contrast" name="theme" value="highContrast" data-config="Settings.General.theme">
    </form>
  </div>

  <div id="Content">
    <div class="content" data-include="/views/options/fragments/gestures.inc" id="Gestures"></div>
    <div class="content" data-include="/views/options/fragments/settings.inc" id="Settings"></div>
    <div class="content" data-include="/views/options/fragments/extras.inc" id="Extras"></div>
    <div class="content" data-include="/views/options/fragments/data.inc" id="Data"></div>
    <div class="content" data-include="/views/options/fragments/about.inc" id="About"></div>
  </div>
</body>
</html>
