.theme-transition:root * {
  transition: all .3s !important;
}

:root:not(.loaded) {
  display: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  background: var(--baseSecond-color);
}

hr {
  margin: 1.25rem 0;
  border-bottom: 1px solid var(--borderSecond-color);
}

h2 {
  margin-bottom: 0.625rem;
  font-weight: normal;
  font-size: 1.4rem;
}

/**
 * Sidebar layout properties
 **/

#Sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 0;
  height: 100%;
  padding: 0 1.8rem 0 1.8rem;
}

.logo {
  width: 100%;
  max-width: 4.5rem;
  margin: 2.5rem 0 0.625rem 0;
}

.navigation {
  list-style: none;
}

.nav-item {
  position: relative;
  margin: 1.8rem 0;
  text-align: center;
}

.nav-item > a {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.125rem;
  cursor: pointer;
  transition: color .2s;
}

.nav-item-symbol {
  color: inherit;
  font-size: 1.8rem;
  font-family: Icons;
}

.nav-item-label {
  margin-left: 1rem;
  white-space: nowrap;
  color: inherit;
}

.nav-item > a:hover,
.nav-item > a.active {
  color: var(--highlighted-color);
  text-decoration: none;
}

/**
 * Theme button properties
 **/

#themeSwitch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: auto;
  padding: 2.5rem 0;
}

.theme-button {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 3px 0 rgba(0,0,0,1);
  transition: box-shadow .3s;
}

.theme-button.theme-light {
  background-color: #FBFBFB;
}

.theme-button.theme-dark {
  background-color: #252A32;
}

.theme-button.theme-high-contrast {
  background: linear-gradient(-45deg,#000 0%, #000 50%, #FFF 50%, #FFF 100%);
}

.theme-button:hover {
  box-shadow: 0 0 6px 0 rgba(0,0,0,1);
}

.theme-button:checked::after {
  content: "\2022";
  position: relative;
  bottom: -75%;
  color: var(--border-color);
}

/**
 * Content layout properties
 **/

#Content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}

.content {
  display: none;
  max-width: 560px;
  padding: 1.8rem;

  &:target {
    display: block;
  }

  &#Gestures {
    max-width: none;
  }
}

.content-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--borderSecond-color);
}

/**
 * Commons classes
 **/

.small-spacing {
  margin-bottom: 0.625rem;
}

.medium-spacing {
  margin-bottom: 1.25rem;
}

.justify-text {
  text-align: justify;
}

.small-text {
  font-size: 0.875rem;
}

/**
 * Option list layout
 **/

.ol-section {
  /* do not match nested ol-sections */
  & + .ol-section:not(.ol-section .ol-section)  {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top: 1px solid var(--borderSecond-color);
  }

  /* space section items */
  * + .ol-item,
  .show-more-button {
    margin-top: 0.75rem;
  }

  collapsible-item & {
    padding-top: 0.75rem;
  }
}

.ol-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.ol-label {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  flex-grow: 10;
  cursor: default;
}

.ol-input {
  display: contents;
}

.ol-description {
  opacity: .5;
  font-size: 0.875rem;
  transition: opacity .3s;
}

.ol-item:hover .ol-description {
  opacity: 1;
}

.ol-description a {
  color: inherit;
}

/**
 * Common input styles
 **/

.toggle-button,
.input-field,
.select-field,
.button,
.color-select-field {
  box-sizing: border-box;
  padding: 0.4em 0.5em;
  border: 1px solid var(--border-color);
  border-radius: 0.2em;
  background: var(--base-color, #FFF);
  color: var(--text-color, #555555);
  font-size: 1rem;
  font-family: inherit;
  /* use normal because line-height for text inputs cannot be override: https://www.456bereastreet.com/archive/201108/line-height_in_input_fields/ */
  line-height: normal;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
}

/**
 * Toggle button layout
 **/

.toggle-button {
  appearance: none;
  display: inline-block;
  min-width: 3.2rem;
  padding: 0.6em 0.5em;
  transition: background .5s;


  &::after {
    content: "__MSG_toggleButtonOff__";
  }

  &:checked {
    border-color: var(--highlighted-color, #00AAA0);
    background: var(--highlighted-color, #00AAA0);
    color: var(--textSecond-color, #FFF);

    &::after {
      content: "__MSG_toggleButtonOn__";
    }
  }
}

/**
 * Input field layout
 **/

.input-field {
  text-overflow: ellipsis ellipsis;
  transition: color 0.3s;
  appearance: textfield;

  &:invalid {
    border-color: var(--warning-color);
    box-shadow: none;
    color: var(--warning-color);
  }
}

/**
 * Color field layout
 **/

.color-select-field {
  width: 3.2rem;
  height: 42px;
  padding: 0.3rem;
  cursor: pointer;
}

/**
 * Select field layout
 **/

.select-wrapper {
  position: relative;
  flex-grow: 1;
  flex-basis: 140px;

  &::after {
    position: absolute;
    top: 50%;
    right: 2ch;
    color: var(--text-color);
    content: "D";
    font-size: 0.7em;
    font-family: Icons;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .select-field {
    width: 100%;
    box-sizing: border-box;
    padding-right: 1.5em;
    text-overflow: ellipsis;
    appearance: none;
  }
}

/**
 * Regular button layout
 **/

.button {
  min-width: 9em;
  cursor: pointer;

  * {
    vertical-align: middle;
  }

  &:not(:disabled):hover {
    box-shadow: 0 0 10px -4px var(--shadow-color);
    text-decoration: none;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.danger:hover *,
  &.danger:hover {
    border-color: var(--warning-color);
    background-color: var(--warning-color);
    color: var(--textSecond-color);
    font-weight: bold;
  }
}

/**
 * Collapse button layout
 **/

.show-more-button {
  background: none;
  color: var(--highlighted-color);

  &::after {
    display: inline-block;
    margin-left: 0.3rem;
    content: "D";
    font-size: 0.7em;
    font-family: Icons;
    transform: rotate(-180deg);
    transition: transform .3s;
  }

  [collapsed] &::after {
    transform: rotate(0);
  }
}

/**
 * Horizontal list layout
 **/

.horizontal-list {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.3rem 0;
  list-style: none;
}

.horizontal-list > li:not(:last-child):after {
  padding: 0 0.625rem;
  color: var(--border-color);
  content: "\25CF";
}

/**
 * Gesture list search layout
 **/

.gl-search {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  position: relative;
  bottom: 0.625rem;
  border-radius: 0.2em;
  border: solid 1px transparent;
  pointer-events: none;
  transition: border .3s, background-color .3s;
}

.gl-search.show {
  background-color: var(--base-color);
  border-color: var(--border-color);
}

.gl-search-input {
  flex: 1;
  width: 0;
  border: none;
  background: none;
  opacity: 0;
  pointer-events: all;
  transition: 0.3s;
}

.gl-search.show .gl-search-input {
  width: 12.5rem;
  padding-left: 0.625rem;
  visibility: visible;
  opacity: 1;
}

.gl-search-input-toggle {
  padding: 0.625rem;
  font-size: 1.125rem;
  font-family: Icons;
  color: var(--text-color, #555555);
  background: none;
  transition: color .3s;
  pointer-events: all;
}

.gl-search-input-toggle::before {
  content: "m";
}

.gl-search.show .gl-search-input-toggle,
.gl-search-input-toggle:hover {
  color: var(--highlighted-color);
}

/**
 * Gesture list add button
 **/

.gl-add-button {
  width: 100%;
  height: 100%;
  min-height: 15em;
  background: none;
  border: dashed 3px var(--border-color);
  cursor: pointer;
  color: var(--border-color);
  font-weight: bold;
  border-radius: 0.4rem;
  transition: color .3s, border-color .3s;
}

.gl-add-button:hover {
  border-color: var(--highlighted-color);
  color: var(--highlighted-color);
}

/**
 * Gesture list layout
 **/

.gesture-list {
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
	grid-template-rows: 1fr;
  grid-auto-rows: 1fr;

  &.searching > gesture-card:not(.hidden) {
    box-shadow: 0 0 10px -4px var(--shadow-color);
  }

  gesture-card {
    transition: opacity .3s, box-shadow .3s;
  }

  gesture-card.hidden {
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
  }
}

/**
 * Base popup layout
 **/

.popup {
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px var(--shadowSecond-color, #999999);

  .popup-head {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border-bottom: 1px solid var(--borderSecond-color, #EAEAEA);
    background: var(--baseSecond-color, #FBFBFB);

    .popup-close-button {
      margin-left: auto;
      background: none;
      text-align: right;
      font-size: 12px;
      font-family: Icons;
      cursor: pointer;
      color: var(--text-color, #555555);

      &:hover {
        color: var(--warning-color, #FF6347);
      }

      &::before {
        content: "X";
      }
    }
  }

  .popup-content {
    padding: 1.5rem;
  }
}

/**
 * Gesture popup layout
 **/

#gesturePopup {
  max-width: 850px;
  width: 100%;
  color: var(--text-color);
  background-color: transparent;
}

#gesturePopupHeading {
  text-align: left;
  font-weight: normal;
  font-size: 18px;
}

#gesturePopupContent {
  display: grid;
  grid-template-areas:
    "a b"
    "c d";
  grid-template-columns: 5fr minmax(17rem, 3fr);
  grid-template-rows: 0fr auto;
  grid-gap: 1.25rem;
  background-color: var(--base-color);

  .gp-pattern-area {
    grid-area: a;
  }

  .gp-command-area {
    grid-area: b;
    display: flex;
    flex-direction: column;
    min-height: 0;

    #gesturePopupCommandPicker {
      overflow-y: scroll;
    }
  }

  .gp-label-area {
    grid-area: c;
  }

  .gp-field-name {
    display: block;
    margin-bottom: 0.3rem;
  }

  #gesturePopupRecordingArea {
    aspect-ratio: 1/1;
    border-style: solid;
    border-image-source: var(--borderImage-Color, url("/resources/img/dashed_border_gray.png"));
    border-image-slice: 2;
    border-image-width: 1;
    border-image-repeat: round;
    cursor: crosshair;
  }

  #gesturePopupLabelInput {
    width: 100%;
  }

  #gesturePopupSaveButton {
    position: relative;
    grid-area: d;
    align-self: end;
    background: var(--highlighted-color);
    color: var(--textSecond-color);
    border: none;

    &::after {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      content: "A";
      font-family: Icons;
      padding-inline-end: 1em;
      opacity: 0;
      transition: opacity .3s;
    }

    &.alert::after {
      opacity: 1;
    }
  }
}

#gestureLabelInput::placeholder {
  opacity: .5;
}
