:root {
  --base-color: #303641 !important;
  --baseSecond-color: #252a32 !important;
  --sidebar-color: #252a32 !important;
  --base-brighter-color: #252a32 !important;
  --base-invert-color: #DADADA !important;
  --text-color: #EBEBEB !important;
  --textSecond-color: #FFF !important;
  --textThird-color: #EBEBEB !important;
  --border-color: #464e5e !important;
  --borderSecond-color: #464e5e !important;
  --shadow-color: #464e5e !important;
  --shadowSecond-color: #252a32 !important;
  --highlighted-color: #00AAA0 !important;
  --highlighted-dark-color: #00726b !important;
  --warning-color: #FF6347 !important;
}
