:root {
  --base-color: #2a2a2a !important;
  --base-bright-color: #1a1a1a !important;
  --base-brighter-color: #1a1a1a !important;
  --base-invert-color: #DADADA !important;
  --base-invert-bright-color: #EBEBEB !important;
  --sectionLine-color: #404040 !important;
  --border-color: #404040 !important;
  --shadow-color: #444 !important;
  --highlighted-color: #00AAA0 !important;
  --highlighted-dark-color: #00726b !important;
  --warning-color: #FF6347 !important;
}
