:root {
  --base-color: #FFF !important;
  --baseSecond-color: #FBFBFB !important;
  --sidebar-color: #FBFBFB !important;
  --base-brighter-color: #fafafc !important;
  --base-invert-color: #000 !important;
  --text-color: #555555 !important;
  --textSecond-color: #FFF !important;
  --textThird-color: #555555 !important;
  --border-color: #ddd !important;
  --borderSecond-color: #EAEAEA !important;
  --borderImage-Color: url("/res/img/dashed_border_gray.png") !important;
  --shadow-color: #ddd !important;
  --shadowSecond-color: #999 !important;
  --highlighted-color: #00AAA0 !important;
  --warning-color: #FF6347 !important;
}
