:root {
  --base-color: #FFF !important;
  --base-bright-color: #FBFBFB !important;
  --base-brighter-color: #fafafc !important;
  --base-invert-color: #000 !important;
  --base-invert-bright-color: #555555 !important;
  --sectionLine-color: #EAEAEA !important;
  --border-color: #ddd !important;
  --shadow-color: #888 !important;
  --highlighted-color: #00AAA0 !important;
  --highlighted-dark-color: #00726b !important;
  --warning-color: #FF6347 !important;
}
