
/* Light Theme */

.light-theme:root, :root {
  --base-color: #FFF;
  --baseSecond-color: #FBFBFB;
  --text-color: #212121;
  --textSecond-color: #FFF;
  --highlighted-color: #2979ff;
}

/* Dark Theme */

.dark-theme:root {
  --base-color: #303641;
  --baseSecond-color: #252a32;
  --text-color: #EBEBEB;
  --textSecond-color: #FFF;
  --highlighted-color: #2979ff;
}

/* High Contrast Theme */

.highContrast-theme:root {
  --base-color: #000;
  --baseSecond-color: #000;
  --text-color:#FFF;
  --textSecond-color: #000;
  --highlighted-color: #00ff00;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

html {
  scrollbar-width: none;
  overscroll-behavior: contain;
}

#list {
  width: max-content;
  max-width: 300px;
  cursor: default;
  background-color: var(--base-color);
  list-style: none;
}

.item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 10px;
  color: var(--text-color);
}

.item:hover {
  background-color: var(--highlighted-color);
  color: var(--textSecond-color);
}

.item > img {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.item > span {
  vertical-align: middle;
  padding-left: 7px;
}

.item > span:only-child {
  margin-left: 16px;
}

.button {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  line-height: 2rem;
  text-align: center;
  color :var(--text-color);
  transition: transform 0.3s, opacity 0.3s;
}

.button.up {
  top: 0;
  background: linear-gradient(to top, transparent 0%, var(--baseSecond-color) 60%);
}

.button.down {
  bottom: 0;
  background: linear-gradient(to bottom, transparent 0%, var(--baseSecond-color) 60%);
}

.button::after {
  line-height: 1;
  opacity: 0.75;
}

.button:hover::after {
  opacity: 1;
}

.button.up::after {
  content: "\25B4";
  vertical-align: top;
}

.button.down::after {
  content: "\25BE";
  vertical-align: bottom;
}

.button.up.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.button.down.hidden {
  transform: translateY(100%);
  opacity: 0;
}