@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Icons";
  src: url("/resources/fonts/icons.woff");
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "NunitoSans Regular";
  src: url("/resources/fonts/NunitoSans-Regular.woff");
}

/* Light Theme */

.light-theme:root, :root {
  --base-color: #FFF;
  --baseSecond-color: #FBFBFB;
  --base-brighter-color: #fafafc;
  --base-invert-color: #000;
  --text-color: #555555;
  --textSecond-color: #FFF;
  --border-color: #ddd;
  --borderSecond-color: #EAEAEA;
  --borderImage-Color: url("/resources/img/dashed_border_gray.png");
  --shadow-color: #ddd;
  --shadowSecond-color:rgba(0,0,0,0.15);
  --highlighted-color: #00AAA0;
  --warning-color: #FF6347;
}

/* Dark Theme */

.dark-theme:root {
  --base-color: #303641;
  --baseSecond-color: #252a32;
  --base-brighter-color: #252a32;
  --base-invert-color: #DADADA;
  --text-color: #EBEBEB;
  --textSecond-color: #FFF;
  --border-color: #464e5e;
  --borderSecond-color: #464e5e;
  --borderImage-Color: url("/resources/img/dashed_border_dark.png");
  --shadow-color: #464e5e;
  --shadowSecond-color: rgba(200,200,200, 0.15);
  --highlighted-color: #00AAA0;
  --warning-color: #FF6347;
}

/* High Contrast Theme */

.highContrast-theme:root {
  --base-color: #000;
  --baseSecond-color: #000;
  --base-brighter-color: #000;
  --base-invert-color: #FFF;
  --text-color:#FFF;
  --textSecond-color: #000;
  --border-color:#FFF;
  --borderSecond-color: #FFF;
  --borderImage-Color: url("/resources/img/dashed_border_gray.png");
  --shadow-color: #FFF;
  --shadowSecond-color: rgba(255,255,255,0.15);
  --highlighted-color: #00ff00;
  --warning-color: #FF0000;
}

.theme-transition:root * {
  transition: all .3s !important;
}

/**
 * CSS reset
 **/

:root {
  color: var(--text-color);
  font-family: "NunitoSans Regular", "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

*::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: none;
}

input,
select,
button,
textarea {
  color: var(--text-color);
  font-size: 1rem;
  font-family: inherit;
}

a {
  color: var(--highlighted-color);
  text-decoration: underline dotted;
  cursor: pointer;
}

a:hover,
a:focus {
  text-decoration: underline solid;
}

a[target="_blank"]::after {
  content: "E";
  display: inline-block;
  text-decoration: none;
  font-family: Icons;
  margin-left: 0.25em;
  font-size: 0.75em;
}

em {
  color: var(--highlighted-color);
  text-decoration: underline;
  font-style: normal;
}

/**
 * Icons classes
 **/

.icon-gear::before  {
  content: "g";
  font-family: Icons;
}

.icon-data::before {
  content: "d";
  font-family: Icons;
}

.icon-arrows::before  {
  content: "a";
  font-family: Icons;
}

.icon-star::before  {
  content: "s";
  font-family: Icons;
}

.icon-list::before  {
  content: "l";
  font-family: Icons;
}

.icon-info::before {
  content: "i";
  font-family: Icons;
}

.icon-arrow-up::before {
  content: "U";
  font-family: Icons;
}

.icon-arrow-right::before {
  content: "R";
  font-family: Icons;
}

.icon-arrow-down::before {
  content: "D";
  font-family: Icons;
}

.icon-arrow-left::before {
  content: "L";
  font-family: Icons;
}

.icon-delete::before {
  content: "X";
  font-family: Icons;
}

.icon-add::before {
  content: "+";
  font-family: Icons;
}
