:root {
  --on-surface-color: var(--text-color);
  --surface-color: var(--border-color);
}

.highContrast-theme:root {
  --on-surface-color: var(--base-color);
}

body {
  background: var(--baseSecond-color);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0.5em;
}

[hidden] {
  display: none !important;
}

/**
 * Icons classes
 **/

.favicon::before {
  content: '';
  display: block;
  background-image: var(--favicon-url);
  width: 1em;
  height: 1em;
  background-size: contain;
}

.favicon.favicon-amo::before {
  background-image: url('https://addons.mozilla.org/favicon.ico?v=2');
}

.favicon.favicon-github::before {
  background-image: url('https://github.githubassets.com/favicons/favicon.svg');
}

.highContrast-theme:root .favicon.favicon-github::before,
.dark-theme:root .favicon.favicon-github::before {
  background-image: url('https://github.githubassets.com/favicons/favicon-dark.svg');
}

/**
 * Item list
 **/

hr {
  border-bottom: solid 1px var(--border-color);
  margin: 0.5em 0em;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5em;
  padding: 0 0.7em;
  border-radius: 0.2em;
  background: none;
  color: var(--text-color);
  font-weight: normal;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  text-align: left;
}

.item:hover,
.item:focus-visible {
  background: var(--surface-color);
  text-decoration: none;
  color: var(--on-surface-color);
}

.item > span:last-of-type {
  padding: 0.7em 0;
  flex: 1;
}

.item.warning {
  color: var(--warning-color);
}

/**
 * Toggle button
 **/

input[type="checkbox"] {
  appearance: none;
  height: 1rem;
  padding: 0.15em;
  box-sizing: content-box;
  aspect-ratio: 2 / 1;
  border-radius: 2rem;
  background-color: var(--surface-color);
  box-shadow: inset 0px 0px 3px var(--shadowSecond-color);
  transition: background-color 0.2s;

  &::before {
    content: "";
    display: block;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
    background: var(--baseSecond-color);
    transition: transform 0.2s ease;
  }

  &:checked {
    background-color: var(--highlighted-color);

    &::before {
      transform: translateX(100%)
    }
  }
}
