.command-bar {
  --sidebar-width: 310px;
  z-index: 10;
  position: fixed;
  right: 0;
  width: var(--sidebar-width);
  height: 100%;
  background: var(--base-color, #FFF);
  box-shadow: 0 0 8px 2px var(--shadowSecond-color, #999);
  overflow: hidden;
}

.cb-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* transition classes */

.command-bar.cb-show {
  transform: translate(0, 0);
  transition: transform 0.3s;
}

.command-bar.cb-hide {
  transform: translate(100%, 0);
  transition: transform 0.3s;
}

.cb-container.cb-init-slide {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  transition: transform 0.2s;
}

.cb-container.cb-slide-right {
  transform: translate(100%, 0);
}

.cb-container.cb-slide-middle {
  transform: translate(0, 0);
}

.cb-container.cb-slide-left {
  transform: translate(-100%, 0);
}

/* container head */

.cb-head {
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid var(--borderSecond-color, #EAEAEA);
  background: var(--baseSecond-color, #FBFBFB);
}

.cb-heading {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.cb-head-button {
  position: absolute;
  top: 12px;
  left: 10px;
  padding: 8px 10px;
  border-radius: 2px;
  border: solid 1px transparent;
  background: none;
  font-family: Icons;
  cursor: pointer;
  font-size: 16px;
}

.cb-head-button:hover {
  border-color: var(--border-color, #ddd);
}

.cb-back-button:after {
  content: "L";
}

.cb-close-button:after {
  padding-left: 0px;
  content: "R";
}

/* container main */

.cb-main {
  width: var(--sidebar-width);
  overflow-y: hidden;
  flex: 1;
}

.cb-main:hover {
  overflow-y: auto;
  overflow-x: hidden;
}

/* hide scrollbar on sliding animation */

.cb-init-slide .cb-main {
  overflow-y: hidden;
}

.cb-scroll-container {
  width: inherit;
}

/* command list */

.cb-command-group {
  list-style: none;
  padding: 20px 0;
}

.cb-command-group:not(:last-child) {
  border-bottom: 1px solid var(--borderSecond-color, #EAEAEA);
}

.cb-command-item {
  padding: 10px 30px;
  cursor: default;
}

.cb-command-item:hover {
  background: var(--base-brighter-color, #fafafc);
}

.cb-command-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cb-command-name {
  font-size: 16px;
  color: var(--textThird-color, #555555);
}

.cb-command-description {
  font-size: 14px;
  overflow: hidden;
  height: 0;
  transition: 0.3s;
}

.cb-command-info-icon {
  background: none;
  color: var(--border-color, #ddd);
  cursor: default;
  transition: color 0.2s;
  font-family: Icons;
}

.cb-command-info-icon:after {
  content: "I";
}

.cb-command-info-icon:hover {
  color: var(--highlighted-color, #00AAA0);
}

/* command setting */

.cb-setting {
  padding: 30px 30px 10px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.cb-setting-label {
  cursor: default;
  flex: 1;
}

.cb-setting-name {
  font-size: 16px;
}

.cb-setting-description {
  transition: opacity 0.3s;
  font-size: 14px;
  opacity: 0.5;
}

.cb-setting:hover .cb-setting-description {
  opacity: 1;
}

/* special input stylings */

.cb-setting input:not([type="checkbox"]), .cb-setting select, .cb-setting textarea {
  width: 100%;
  margin-top: 10px;
}

.cb-setting .toggle-button + label {
  margin-left: 10px;
}

/* container footer */

.cb-footer {
  padding: 20px 30px;
}

.cb-submit-button {
  width: 100%;
  padding: 8px 6px 6px 6px;
  text-align: center;
  color: #FFF;
  background: var(--highlighted-color, #00AAA0);
  border-radius: 3px;
  border: 1px solid var(--highlighted-color, #00AAA0);
  cursor: pointer;
  transition: border-color 0.2s;
}

.cb-submit-button:hover {
  border-color: var(--highlighted-dark-color, #00726b);
}
