.command-bar {
  position: fixed;
  right: 0;
  z-index: 10;
  width: var(--sidebar-width);
  height: 100%;
  background: var(--base-color, #FFFFFF);
  box-shadow: 0 0 8px 2px var(--shadowSecond-color, #999999);

  --sidebar-width: 310px;
}

.cb-overflow-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.cb-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* transition classes */

.command-bar.cb-show {
  transition: transform .3s;
  transform: translate(0, 0);
}

.command-bar.cb-hide {
  transition: transform .3s;
  transform: translate(100%, 0);
}

.cb-container.cb-init-slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  transition: transform .2s;
}

.cb-container.cb-slide-right {
  transform: translate(100%, 0);
}

.cb-container.cb-slide-middle {
  transform: translate(0, 0);
}

.cb-container.cb-slide-left {
  transform: translate(-100%, 0);
}

/* container head */

.cb-head {
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid var(--borderSecond-color, #EAEAEA);
  background: var(--baseSecond-color, #FBFBFB);
}

/* special heading style tweaks for settings */
.cb-settings .cb-head {
  display: flex;
  flex-direction: row;
}
/* add flexible space to the right to center the heading untill it grows too big */
.cb-settings .cb-head::after {
  max-width: 40px;
  flex: 1 1 0;
  content: "";
}
/* add hard space to the left to prevent the text growing behind the back button and center heading */
.cb-settings .cb-heading {
  margin: 0 auto;
  padding-left: 40px;
}

.cb-heading {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-size: 18px;
}

.cb-back-button {
  position: absolute;
  top: 12px;
  left: 10px;
  padding: 8px 10px;
  border: solid 1px transparent;
  border-radius: 2px;
  background: none;
  font-size: 16px;
  font-family: Icons;
}

.cb-back-button:hover {
  border-color: var(--border-color, #DDDDDD);
}

.cb-back-button:before {
  content: "L";
}

.cb-cancel-button {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 40px;
  border-top-left-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  background: var(--base-color, #FFFFFF);
  box-shadow: -4px 0 4px 0 var(--shadowSecond-color, #999999);
  text-align: right;
  font-size: 12px;
  font-family: Icons;
  cursor: pointer;
  transform: translate(-100%, -50%);
}

.cb-cancel-button:before {
  content: "R";
}

/* container main */

.cb-main {
  width: var(--sidebar-width);
  overflow-y: hidden;
  flex: 1;
}

.cb-main:hover {
  overflow-x: hidden;
  overflow-y: auto;
}

/* hide scrollbar on sliding animation */

.cb-init-slide .cb-main {
  overflow-y: hidden;
}

.cb-scroll-container {
  width: inherit;
}

/* command list */

.cb-command-group {
  padding: 20px 0;
  list-style: none;
}

.cb-command-group:not(:last-child) {
  border-bottom: 1px solid var(--borderSecond-color, #EAEAEA);
}

.cb-command-item {
  position: relative;
  padding: 10px 30px;
  cursor: default;
}

.cb-command-item.active:before {
  position: absolute;
  top: 9px;
  left: 11px;
  color: var(--border-color, #DDDDDD);
  content: "\2022";
}

.cb-command-item:hover {
  background: var(--base-brighter-color, #FAFAFC);
}

.cb-command-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cb-command-name {
  flex-grow: 1;
  color: var(--textThird-color, #555555);
}

.cb-command-description {
  height: 0;
  overflow: hidden;
  white-space: pre-line;
  font-size: 14px;
  transition: .3s;
}

.cb-command-permissions {
  color: var(--highlighted-color);
  text-decoration: none;
  font-style: unset;
}

.cb-command-permissions:before {
  content: " ";
}

.cb-command-icon {
  margin-left: 10px;
  background: none;
  color: var(--border-color, #DDDDDD);
  font-family: Icons;
  cursor: default;
  transition: color .2s;
}

.cb-command-info-icon:before {
  content: "I";
}

.cb-command-permissions-icon:before {
  content: "p";
}

/* command setting */

.cb-settings-form {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.cb-setting {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 30px 10px 30px;
  cursor: default;
}

.cb-setting-name {
  flex-basis: 0;
  flex-grow: 1;
  font-size: 16px;
}

.cb-setting-description {
  opacity: .5;
  flex-basis: 100%;
  text-align: justify;
  font-size: 14px;
  transition: opacity .3s;
}

.cb-setting:hover .cb-setting-description {
  opacity: 1;
}

/* special input stylings */

.cb-setting input:not([type="checkbox"]),
.cb-setting select,
.cb-setting textarea,
.cb-setting div {
  width: 100%;
}

.cb-setting .toggle-button + label {
  margin-left: 10px;
}

.cb-setting .cb-setting-description + * {
  margin-top: 10px;
}

.cb-setting .toggle-button + label + .cb-setting-description {
  margin-top: 10px;
}

.cb-setting .input-field,
.cb-setting .text-field {
  border-color: var(--border-color);
  box-shadow: none;
  color: var(--textThird-color);
}

/* container footer */

.cb-save-button {
  margin: auto 30px 20px 30px;
  padding: 8px 6px 6px 6px;
  border: 1px solid var(--highlighted-color, #00AAA0);
  border-radius: 3px;
  background: var(--highlighted-color, #00AAA0);
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  transition: box-shadow .3s;
}

.cb-save-button:hover {
  box-shadow: 0 0 10px -4px var(--shadowSecond-color);
}
