:root {
  --base-color: #FFF;
  --base-bright-color: #FBFBFB;
  --base-brighter-color: #fafafc;
  --base-invert-color: #000;
  --base-invert-bright-color: #555555;
  --sectionLine-color: #EAEAEA;
  --border-color: #ddd;
  --shadow-color: #888;
  --highlighted-color: #00AAA0;
  --highlighted-dark-color: #00726b;
  --warning-color: #FF6347;
}

/**
 *
 **/

.gesture-popup {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
  padding: 20px;
  background: var(--base-color);
  box-shadow: 0px 0px 8px 2px var(--shadow-color);
}

.gesture-popup.gp-show {
  animation: gesturePopupShow 0.3s;
}

.gesture-popup.gp-hide {
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

@keyframes gesturePopupShow {
  from {opacity: 0; transform: translate(-50%, -50%) scale(0.5);}
  50% {transform: translate(-50%, -50%) scale(1.05)}
  to {opacity: 1; transform: translate(-50%, -50%) scale(1);}
}

.gp-header {
  height: 60px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.gp-main {
  flex: 1;
}

.gp-footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: var(--base-brighter-color);
  margin-top: 20px;
}

.gp-action-label-input {
  flex: 1;
  height: 100%;
  padding: 8px 20px 0 20px;
  box-sizing: border-box;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: solid 1px var(--border-color);
  background: var(--base-color);
}

.gp-action-label-input::placeholder {

}

.gp-action-select-button {
  height: 100%;
  padding: 8px 20px 0 20px;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background: #F9F9FA;
  border: solid 1px var(--border-color);
  border-left: none;
  text-transform: uppercase;
letter-spacing: 2px;

}

.gp-save-button {
  padding: 8px 20px 5px 20px;
  background: var(--highlighted-color);
  border: 1px solid var(--highlighted-color);
  color: var(--base-color);
  margin-left: 20px;
  cursor: pointer;
  height: 100%;

  text-transform: uppercase;
letter-spacing: 2px;
}


.gp-draw-area {
  height: 100%;
  border: dashed 1px var(--border-color);
  background: var(--base-color);
}

.gp-save-button:hover {
  border: 1px solid var(--highlighted-dark-color);
}


.gp-gesture-code-input {
  flex: 1;
  height: 100%;
  padding: 8px 20px 0 20px;
  box-sizing: border-box;
  border: solid 1px var(--border-color);
  border-radius: 2px;
  background: var(--base-color);
}
