
/**
 *
 **/

 @font-face {
   font-family: "firefox-gesture-arrows";
   src: url("/res/fonts/arrows.woff");
   font-weight: normal;
   font-style: normal;
 }

.gesture-popup {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 850px;
  background: var(--base-color);
  box-shadow: 0 0 8px 2px var(--shadowSecond-color, #999);
}

.gesture-popup.gp-show {
  animation: gesturePopupShow 0.3s;
}

.gesture-popup.gp-hide {
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

@keyframes gesturePopupShow {
  from {opacity: 0; transform: translate(-50%, -50%) scale(0.5);}
  50% {transform: translate(-50%, -50%) scale(1.05)}
  to {opacity: 1; transform: translate(-50%, -50%) scale(1);}
}

.gp-head {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid var(--borderSecond-color, #EAEAEA);
  background: var(--baseSecond-color, #FBFBFB);
}

.gp-cancel-button {
  margin-left: auto;
  font-family: Icons;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
  background: none;
}

.gp-cancel-button:hover {
  color: var(--warning-color, #FF6347);
}

.gp-cancel-button:before {
  content: "X";
}

.gp-heading {
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}

.gp-main {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
}

.gp-form {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.gp-field {
  display: block;
  /* fix to prevent child elements forcing parent to grow */
  min-width: 0;
}

.gp-field:hover .gp-field-description {
  opacity: 1;
}

.gp-field + .gp-field {
  margin-top: 40px;
}

.gp-field-name {

}

.gp-field-description {
  font-size: 14px;
  opacity: 0.5;
  text-align: justify;
  transition: opacity 0.3s;
}

.gp-field-input {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  text-align: center;
  border-radius: 2px;
  background-color: var(--base-color);
  text-overflow: ellipsis;
  color: var(--textThird-color);
}

.gp-field-input:invalid {
  box-shadow: none;
}

.gp-field-input.gp-command {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 28px;
}

.gp-field-input.gp-command::before {
  content: "\00a0";
}

.gp-field-input.gp-command[title]:not([title=""])::before {
  content: attr(title);
}

.gp-field-input.gp-command::after {
  content: "c";
  position: absolute;
  top: 50%;
  right: 7px;
  font-size: 11px;
  font-family: Icons;
  transform: translateY(-50%);
}

.gp-field-input.gp-code {
  font-family: "firefox-gesture-arrows";
  text-transform: uppercase;
  letter-spacing: 5px;
}

.gp-field-input.gp-label::placeholder {
  opacity: 0.5;
}

.gp-save-button {
  cursor: pointer;
  margin-top: auto;
  padding: 8px 20px 5px 20px;
  background: var(--highlighted-color);
  color: var(--textSecond-color);
  border-radius: 2px;
  transition: box-shadow 0.3s;
}

.gp-save-button:hover {
  box-shadow: 0 0 10px -4px var(--shadowSecond-color);
}

.gp-warning-button {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
}

.gp-draw-area {
  position: relative;
  flex: 1;
  border-image-source: url("/res/img/dashed_border_gray.png");
  border-image-width: 1;
  border-image-slice: 2;
  border-image-repeat: round;
  border-style: solid;
  cursor: crosshair;
}

.gp-draw-area::after {
  content: attr(title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 18px;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.gp-draw-area:hover::after {
  opacity: 0;
}

.gp-draw-area::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.gp-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
