.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: .3;
  background: var(--base-invert-color, #000000);
  transition: opacity .5s;
}

.overlay.o-show {
  opacity: .3;
}

.overlay.o-hide {
  opacity: .0;
}
