html {
  background: var(--baseSecond-color);
}

a {
  font-weight: bold;
}

svg {
  max-width: 100%;
  flex-shrink: 0;
}

.block-outer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.block-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  margin: auto;
  padding: 1.5em;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 100%;
  margin-right: 1.5rem;
}

.head {
  position: relative;
  margin-bottom: 5rem;
}

.headline {
  display: block;
  color: var(--highlighted-color);
  font-weight: bold;
  font-size: 1.5rem;
  white-space: pre-line;
}

.sub-headline {
  display: block;
  color: var(--highlighted-color);
  font-style: normal;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.row + .row {
  margin-top: 2rem;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 19.5em;
}

.center {
  margin: auto;
}

#steps {
  margin-left: 2rem;
  list-style: none;
}

#steps > li {
  height: 43.8%;
  padding-top: 0.5rem;
  box-sizing: border-box;
  font-size: 1.25rem;
}

.text {
  display: block;
  text-align: justify;
}

.link {
  margin-left: auto;
  margin-top: 1em;
}