@font-face {
  font-family: "firefox-gesture-arrows";
  src: url("/res/fonts/arrows.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSans Regular";
  src: url("/res/fonts/NunitoSans-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
