* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

collapsible-item {
  border: none;
}

a {
  color: var(--highlighted-color);
  text-decoration: underline dotted;
  cursor: pointer;
}

/* command card */

:host {
  display: block;
  user-select: none;

  collapsible-item > .command-header {
    cursor: pointer;
  }

  .command-header {
    padding: 1rem 1rem 1rem 0;
    cursor: default;
    display: grid;
    grid-template-areas:
      "a b "
      "a c ";
    grid-template-columns: min-content 1fr;
    grid-column-gap: 0.25rem;

    &::before {
      display: block;
      content: 'h';
      grid-area: a;
      font-family: Icons;
      font-size: 1rem;
      line-height: 1.4;
      color: var(--text-color);
      opacity: .5;
      transition: opacity .3s;
      cursor: grab;
      padding-inline-start: 0.5rem;
    }

    &:hover::before {
      opacity: 1;
    }

    & > .command-header-main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      grid-area: b;

      & > .command-remove-button {
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        color: inherit;
        font-size: 0.75rem;

        &::before {
          content: "X";
          font-family: Icons;
        }
      }
    }

    & > .command-header-secondary {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      grid-area: c;

      &::before {
        font-size: 0.8em;
      }
    }
  }

  collapsible-item .command-header-secondary::after {
    content: "D";
    font-family: Icons;
    transition: transform 0.3s;
  }

  collapsible-item:not([collapsed]) .command-header-secondary::after {
    transform: rotate(180deg)
  }

  .command-body {
    padding: 0.75rem;
    border-top: 1px solid var(--borderSecond-color, #EAEAEA);
  }
}

:host(:first-child) .command-header-secondary::before {
  content: '__MSG_commandPickerMainCommandLabel__';
}

:host(:not(:first-child)) .command-header-secondary::before {
  content: counter(alt-command-counter) '. __MSG_commandPickerAlternativeCommandLabel__';
  counter-increment: alt-command-counter;
}

/* settings styles */

a:hover,
a:focus {
  text-decoration: underline solid;
}

a[target="_blank"]::after {
  content: "E";
  display:inline-block;
  text-decoration: none;
  font-family: Icons;
  margin-left: 0.25em;
  font-size: 0.75em;
}

.warning-text {
  color: var(--warning-color);
  opacity: 1 !important;
  font-weight: bold;
}

*::-moz-focus-inner {
  border: 0;
}

.command-setting {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.625rem 0 0.625rem 0;
  cursor: default;

  .command-setting-name {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1rem;
  }

  .command-setting-description {
    opacity: .5;
    flex-basis: 100%;
    font-size: 0.875rem;
    transition: opacity .3s;
  }

  &:hover .command-setting-description {
    opacity: 1;
  }

  /* special input stylings */

  & .command-setting-description + * {
    margin-top: 0.625rem;
  }

  & .toggle-button + .command-setting-description {
    margin-top: 0.625rem;
  }
}

/**
 * Common input styles
 **/

.toggle-button,
.input-field,
select,
textarea {
  box-sizing: border-box;
  padding: 0.4em 0.5em;
  border: 1px solid var(--border-color);
  border-radius: 0.2em;
  background: var(--base-color, #FFF);
  color: var(--text-color, #555555);
  font-size: 1rem;
  font-family: inherit;
  /* use normal because line-height for text inputs cannot be override: https://www.456bereastreet.com/archive/201108/line-height_in_input_fields/ */
  line-height: normal;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
}

/**
 * Toggle button layout
 **/

.toggle-button {
  appearance: none;
  display: inline-block;
  min-width: 3.2rem;
  padding: 0.6em 0.5em;
  transition: background .5s;


  &::after {
    content: "__MSG_toggleButtonOff__";
  }

  &:checked {
    border-color: var(--highlighted-color, #00AAA0);
    background: var(--highlighted-color, #00AAA0);
    color: var(--textSecond-color, #FFF);

    &::after {
      content: "__MSG_toggleButtonOn__";
    }
  }
}

/**
 * Input field layout
 **/

.input-field {
  width: 100%;
  text-overflow: ellipsis ellipsis;
  transition: color 0.3s;
  appearance: textfield;

  &:invalid {
    border-color: var(--warning-color);
    box-shadow: none;
    color: var(--warning-color);
  }
}

/**
 * Select field layout
 **/

.select-wrapper {
  position: relative;
  flex-grow: 1;
  flex-basis: 140px;

  &::after {
    position: absolute;
    top: 50%;
    right: 2ch;
    color: var(--text-color);
    content: "D";
    font-size: 0.7em;
    font-family: Icons;
    transform: translateY(-50%);
    pointer-events: none;
  }

  select {
    width: 100%;
    box-sizing: border-box;
    padding-right: 1.5em;
    text-overflow: ellipsis;
    appearance: none;
  }
}

/**
 * Text field layout
 **/

textarea {
  width: 100%;
  text-align: unset;
  resize: vertical;
}
